[user]
	name = nekorush14
  email = 17153457+nekorush14@users.noreply.github.com
  signingkey = 22C33C21C2EDAF0D6D0C78CC2B5955FCA5D286E1

[core]
	editor = nvim
  autocrlf = input
  pager = delta

[alias]
  agraph = log --graph --oneline --decorate=full -20 --date=short --pretty=format:\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
  st = status

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[interactive]
  diffFilter = delta --color-only

[delta]
  line-numbers = true
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[pull]
	rebase = false
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg

[ghq]
  root = /Users/nekorush14/Developer/ghq

